mixin sServicePurpose(t)
	// start sServicePurpose
	+b.SECTION.sServicePurpose.section#sServicePurpose&attributes(attributes)
		.container
			+b.section-title.text-center(class="wow animate__fadeInUp" data-wow-delay=".1s")
				h2!= t
			block

	// end sServicePurpose

mixin card(h, p, i)
	// start card
	+e.card(class="wow animate__fadeInUp" data-wow-delay=".2s")
		.row.aligin-items-center
			.col-lg-6.col-xl
				+e.card-content
					h3!= h
					p!= p
					block
			+e.col.col-lg-6.col-xl-auto
				+pic(`purpose-lg-${i}.png`,'', 0)(class="wow animate__fadeIn" data-wow-delay=".5s")

	// end card

mixin card-item(i, p)
	// start card-item
	+e.card-item(class="wow animate__fadeInUp" data-wow-delay=".4s")
		+e.img-wrap
			img(src=`img/svg/purpose-${i}.svg`, alt="")
		p!= p

	// end card-item