mixin chartCard(i,t,p, b)
	+b.chat-card 
		+e.row.row
			.col-auto
				+e.img-wrap.bg-wrap
					+icon('user')
					if i
						+pic(`avatar-${i}.png`,'bg',0).picture-bg
			.col
				.h6.mb-0= t
				.text-secondary= p
				+stars()
				if !b
					+e.footer
						+e.btn.btn-outline-primary(href="#") Кириш
					
mixin chartCardHor(i,t,p, empty)
	+b.chat-card--horizontal&attributes(attributes)
		+e.row.row.align-items-md-center
			.col-auto
				+e.img-wrap.bg-wrap
					+icon('user')
					if i
						+pic(`avatar-${i}.png`,'bg',0).picture-bg
			.col
				.row.align-items-md-center
					
					.col-md.mb-md-0.mb-3
						.h6.mb-0= t
						.text-secondary= p
						if empty
							.text-info.mt-2 Онлайн
					.col-md-auto
						if empty
							+e.btn.btn-outline-secondary2(href="#") 
								+icon("pen")
								| Таҳрирлаш
						else
							+e.btn.btn-primary(href="#") Батафсил
							
				//- +stars()
				//- +e.footer
mixin chartCardHor2(i,p, icon)
	+b.chat-card--horizonta
		+e.link-base(href="#")
		+e.row.row.align-items-md-center
			.col-auto.order-first
				+e.img-wrap.bg-wrap
					+icon('user')
					if i
						+pic(`avatar-${i}.png`,'bg',0).picture-bg
			.col
				.row.align-items-center.gx-2
					
					.col-lg-4.mb-3
						.h6 Султонова Мадина
						.alert.label&attributes(attributes)
							if icon
								+icon(icon)
							= p
					.col-auto
						.text-secondary Сана
						p 04.01.2021
					.col
						.text-secondary Вақти
						p 15:30-16:00
					.w-100.d-md-none
					block
					
							
				//- +stars()
				//- +e.footer

mixin sChatCards(data)
	// start sChatCards
	+b.sChatCards.section#sChatCards&attributes(attributes)
		+e.row.row
			+e.col.col-xl-4.col-md-6 
				+chartCard(`1`,`Ветиринар`,`Александра Алиева`)
			+e.col.col-xl-4.col-md-6 
				+chartCard(`2`,`Аграном`,`Собиров Алишер`)
			+e.col.col-xl-4.col-md-6 
				+chartCard(`3`,`Агротехник`,`Қаҳрамонов Рустам`)
			+e.col.col-xl-4.col-md-6 
				+chartCard(`1`,`Агротехник`,`Алимов Равшан`)
			+e.col.col-xl-4.col-md-6 
				+chartCard(``,`Зоотехник`,`Жураев Зокир`)
		+e.banner
			.row
				.col
					h2 Консултант бўлишни истайсизми?
					p Бизга қўшилинг ва мижозлар учун ҳизмат кўрсатинг
					+e.btn.btn-primary(href="#") Ўтиш
				.col-auto.d-none.d-lg-block
					+pic("chat-banner.png",'',0)

	// end sChatCards
mixin sChatCards-1(data)
	// start sChatCards
	+b.sChatCards.section#sChatCards&attributes(attributes)
		+chartCardHor(`1`,`Ветиринар`,`Александра Алиева`).mb-4
		+e.row.row
			+e.col.col-xl-4.col-md-6 
				+chartCard(`1`,`Ветиринар`,`Александра Алиева`)
			+e.col.col-xl-4.col-md-6 
				+chartCard(`2`,`Аграном`,`Собиров Алишер`)
			+e.col.col-xl-4.col-md-6 
				+chartCard(`3`,`Агротехник`,`Қаҳрамонов Рустам`)
			+e.col.col-xl-4.col-md-6 
				+chartCard(`1`,`Агротехник`,`Алимов Равшан`)
			+e.col.col-xl-4.col-md-6 
				+chartCard(``,`Зоотехник`,`Жураев Зокир`)
		//- +e.banner
		//- 	.row
		//- 		.col
		//- 			h2 Консултант бўлишни истайсизми?
		//- 			p Бизга қўшилинг ва мижозлар учун ҳизмат кўрсатинг
		//- 			+e.btn.btn-primary(href="#") Ўтиш
		//- 		.col-auto.d-none.d-lg-block
		//- 			+pic("chat-banner.png",'',0)

	// end sChatCards
mixin sChatCards-1-empty(data)
	// start sChatCards
	+b.sChatCards.section#sChatCards&attributes(attributes)
		+chartCardHor(`1`,`Ветиринар`,`Александра Алиева`,'m').mb-4
		+e.block--empty 
			+e.center 
				+icon("file")
				+e.title Сизда ҳеч қандай <br> сўровлар мавжуд емас
	// end sChatCards
mixin sChatCards-2(data)
	// start sChatCards
	+b.sChatCards.section#sChatCards&attributes(attributes)
		+chartCardHor(`1`,`Ветиринар`,`Александра Алиева`,'m').mb-4
		+e.block
			+chartCardHor2(`1`,`Видео мулоқот вақти `).text-info
				.col-auto 
					+e.btn.btn-primary(href="#") 
						+icon("video")
						| Бошлаш
			+chartCardHor2(`2`,`Қолган вақти: 27 дақиқа `,'clock').text-success
				.col-auto 
					+b-c('email','Хабар жўнатиш').btn-primary
				.col-auto 
					+b-c('check','Қабул қилинган').btn-primary
			+chartCardHor2(`3`,`Рад етилган `,'clock').text-danger
				.col-auto 
					+b-c('close','Рад етилган').btn-danger
			+chartCardHor2(`2`,`Янги сўров`,'clock').text-success 
				.col-auto 
					+b-c('email','Хабар жўнатиш').btn-primary
				.col-auto 
					+b-c('close','Рад етиш').btn-outline-secondary2
				.col-auto 
					+b-c('check','Қабул қилиш').btn-outline-primary
			+chartCardHor2(`2`,`Янги сўров`,'clock').text-success 
				.col-auto 
					+b-c('email','Хабар жўнатиш').btn-primary
				.col-auto 
					+b-c('close','Рад етиш').btn-outline-secondary2
				.col-auto 
					+b-c('check','Қабул қилиш').btn-outline-primary
			+chartCardHor2(`2`,`Янги сўров`,'clock').text-success 
				.col-auto 
					+b-c('email','Хабар жўнатиш').btn-primary
				.col-auto 
					+b-c('close','Рад етиш').btn-outline-secondary2
				.col-auto 
					+b-c('check','Қабул қилиш').btn-outline-primary
			+chartCardHor2(`2`,`Қўнғироқ якунланган`,'clock').text-warning
				.col-auto 
					+b-c('delete','Ўчириш').btn-outline-secondary2
			+pugin()
	// end sChatCards


	
mixin sChatCards-edit(data)
	// start sChatCards
	+b.sChatCards.section#sChatCards&attributes(attributes) 
		+e.block
			+form-wrap 
				+b.chat-card--chor.--edit
					.row.gx-3
						.col-lg.col-auto
							+e.img-wrap.bg-wrap
								+icon('user')
								//- if i
								+pic(`avatar-1.png`,'bg',0).picture-bg
						.col-lg-auto.col
							.row.g-3
								.col-auto
									button.btn.btn-outline-secondary2(type="button") 
										+icon("pen")
										| Янги расм юклаш
								.col-auto
									button.btn.btn-outline-secondary2(type="button") 
										+icon("delete")
										| Ўчириш
				+input("",'text','Исм *')
				+input("",'text','Фамилия *')
				+input("",'text','Мутаҳасислиги')
				.text-center
					button.btn.btn-primary(type="submit") Сақлаш

	// end sChatCards



	


	
mixin sChatCards-edit(data)
	// start sChatCards
	+b.sChatCards.section#sChatCards&attributes(attributes) 
		+e.block
			+form-wrap 
				+b.chat-card--chor.--edit
					.row.gx-3
						.col-lg.col-auto
							+e.img-wrap.bg-wrap
								+icon('user')
								//- if i
								+pic(`avatar-1.png`,'bg',0).picture-bg
						.col-lg-auto.col
							.row.g-3
								.col-auto
									button.btn.btn-outline-secondary2(type="button") 
										+icon("pen")
										| Янги расм юклаш
								.col-auto
									button.btn.btn-outline-secondary2(type="button") 
										+icon("delete")
										| Ўчириш
				+input("",'text','Исм *')
				+input("",'text','Фамилия *')
				+input("",'text','Мутаҳасислиги')
				.text-center
					button.btn.btn-primary(type="submit") Сақлаш

	// end sChatCards


mixin sChatCards-47(data)
	// start sChatCards
	+b.sChatCards.section#sChatCards&attributes(attributes) 
		//- +chartCardHor(`1`,`Ветиринар`,`Александра Алиева`,'m').mb-4

		+b.chat-card--horizontal.mb-4
			+e.row.row
				.col-auto
					+e.img-wrap.bg-wrap
						+icon('user')
						+pic(`avatar-${1}.png`,'bg',0).picture-bg
				.col
					.row
						
						.col-lg-3.col-md-4.mb-3
							.h3.text-primary.mb-3 Аграном
							.h6.mb-0 Собиров Алишер
							.text-secondary Сўнги ташриф: 22:30 
						.col-md
							.fw-500 Агрономнинг вазифалари қуйидагилардан иборат:
							ul 
								li Агрономия соҳасида илмий тадқиқотлар ўтказиш.
								li Екиш ва екиш учун тупроқни тайёрлаш ишларини ташкил етиш.
								li Тупроққа ўғит тайёрлаш ва киритиш бўйича чора-тадбирларни ишлаб чиқиш.
		+b.btn-w100(type="button") Мутаҳасис билан онлайн видео мулоқат ўрнатиш учун вақтни белгиланг
		+e.block
			+b.calendar-line
				+e.btn
					+icon('chevron-left')
				+e.data 4 - 10 Январь 2022
				+e.btn
					+icon('chevron-right')
			+b.week-line
				mixin d(t,n)
					+e.item(href="#")&attributes(attributes)  
						+e.title= t
						+e.date= n
				+d("Пн",'4').active
				+d("Вт",'5')
				+d("Ср",'6')
				+d("Чт",'7')
				+d("Пт",'8')
				+d("Сб",'9')
				+d("Вс",'10')
				+e.hr Мутаҳасиснинг бўш вақтлари
			+b.date-body
				
				mixin item(t, a, i)
					+e.line 
						.row
							+e.time.col= t
							+e.col.col-md-auto.col
								if block 
									block 
								else
									a.btn.btn-outline-primary(href="#") Видео суров жонатиш
				+item(`16:00 - 16:30`,'Видео мулоқот вақти ')
					a.btn.btn-primary(href="#") 
						+icon('camera')
						| Видеони бошлаш
				+item(`15:30 - 16:00`,'Қолган вақти: 27 дақиқа', 'clock')
					.small.text-success Сўров жўнатилган
					//- a.btn.btn-secondary-light(href="#")  Сўров жўнатилган
				+item(`11:30 - 12:00`,'Қўнғироқ якунланган')
					.small.text-info Қолган вақти: 27 дақиқа
				+item(`12:30 - 13:00`,'Бекор қилинган')
					.small.text-info Сўров қабул қилинди
				+item(`16:00 - 16:30`)
					.small.text-orange Қўнғироқ якунланган
				+item(`12:30 - 13:00`,'Бекор қилинган')
					.small.text-danger Бекор қилинган
				+item(`12:30 - 13:00`,'Бекор қилинган')
					a.btn.btn-outline-primary(href="#")  Видео суров жонатиш
				+item(`12:30 - 13:00`,'Бекор қилинган')
					a.btn.btn-outline-primary(href="#")  Видео суров жонатиш
				+item(`12:30 - 13:00`,'Бекор қилинган')
					a.btn.btn-outline-primary(href="#")  Видео суров жонатиш
				+item(`12:30 - 13:00`,'Бекор қилинган')
					a.btn.btn-outline-primary(href="#")  Видео суров жонатиш
		+form-wrap.px-0.bsh-0.mw-100
			+input('Изҳингизни қолдиринг','textarea')
			.text-end
				+e.btn.btn-primary.btn(type='button').w-190 Жўнатиш
	// end sChatCards



mixin sChatCardsPage(color='text-info') 
	// start sChatCards
	+b.sChatCards.section#sChatCards&attributes(attributes)
		+b.chat-card--consultant 
			+e.row.row.mb-5
				.col-auto
					+e.img-wrap.bg-wrap
						+icon('user')
						+pic(`avatar-1.png`,'bg',0).picture-bg
						if i
				.col
					.h6.mb-0 Собиров Алишер
					.text-secondary2 Сўнги ташриф: 14:50  
					.fw-500(class= color) Сўров қабул қилинди
				.col-auto
					+e.btn-circle(href="#")
						+icon("email-link")
			.row
				.col-auto
					.text-secondary Сана:
					div 04.01.2022
				.col-auto
					.text-secondary вақт:
					div 11:30-12:00
			block
