mixin sCabinetOrders()
	// start sCabinetOrders
	+b.sCabinetOrders--base#sCabinetOrders&attributes(attributes)
		+e.head
			+b.cabinetTab
				+e.btn(href="#").active  Шахсий малумотлар
					+e.count 3
				+e.btn(href="#")  Юридик малумотлар
					+e.count 3
				//- .ms-auto
			+input("Барчаси",'select').select-with-arrows
		+e.body
			mixin item2(data)
				+b.prod-order-item(href="#modal-pa").d-block.text-body.link-modal-js 
					+e.img-wrap.bg-wrap
						+pic("prod-2.jpg",'bg',0).picture-bg
					.row
						//- .col-auto
						.col-xl-4.col
							div
								.text-body Қизил лавлаги лавлагил авлаги лав лаги лавла ги лавлаги...
							p.mb-0.text-secondary2 № RU210403-907701 
						.col-xl-auto.order-xl-last.mb-2
							block
						.col
							div Нарбеков Артур Ураловичи
							p.mb-0.text-secondary2 Ташкент АгроФерма
						.col-auto
							div 12 003 000 сум
							.text-secondary2 1 килограмм
			+item2(): +e.status(style="--status-bg:#ED6262") Ради қилинди
			+item2(): +e.status(style="--status-bg:#419FD9") Қабул қилинди
			+item2(): +e.status(style="--status-bg:#55C967") Янги сўров
			+item2(): +e.status(style="--status-bg:#419FD9") Қабул қилинди
			+item2(): +e.status(style="--status-bg:#55C967") Янги сўров
			+item2(): +e.status(style="--status-bg:#ED6262") Ради қилинди
			+item2(): +e.status(style="--status-bg:#55C967") Янги сўров
			+item2(): +e.status(style="--status-bg:#419FD9") Қабул қилинди
			+item2(): +e.status(style="--status-bg:#419FD9") Қабул қилинди
			+pugin
	// end sCabinetOrders

mixin sCabinetOrdersSeller()
	// start sCabinetOrdersSeller
	+b.sCabinetOrders--seller#sCabinetOrders&attributes(attributes)
		+e.heading
			h1 Буюртмалар
			select.form-select.form-select-filter
				option Барчаси
				option 	option 1
				option 	option 2
		mixin item(data)
			+b.orders-item--seller&attributes(attributes)
				.row
					.col
						+e.status(style=`--color: ${data.color}`)
							= data.status
						+e.number= data.number
						ul
							li 
								span.text-secondary Буюртма берилган сана:
								= data.date
							li 
								span.text-secondary Ўлчов бирлиги:
								= data.unit
							li 
								span.text-secondary Умумий сумма:
								= data.sum
							li 
								span.text-secondary Умумий миқдори:
								= data.total
					+e.col.col-sm-auto
						+e.images.row
							if data.emty
								.col-auto
									+e.img-wrap
							else
								.col-auto 
									+e.img-wrap
										+pic(`prod-1.jpg`,'bg',0)
								block
						if data.btn
							+e.btn.btn-primary(href="#") Тасдиқлаш

						else
							+e.btn.btn-outline-primary(href="#") Батафсил
		+item({
			number: '№ 001-001',
			color:'#27B7D6',
			status:'Янги буюртма', 
			date: '29.04.2021',
			unit: 'Қадоқда',
			sum: '47 480 сум',
			total: '12 дона',
		}).notification
			.col-auto 
				+e.img-wrap
					+pic(`prod-2.jpg`,'bg',0)
		+item({
			number: '№ 001-01/1',
			color:'#FF3737',
			status:'Бекор қилинди', 
			date: '22.04.2021',
			unit: 'Килограм, Қадоқда',
			sum: '48 890 сум',
			total: '3 кг, 3 дона',
		}).notification
			.col-auto 
				+e.img-wrap
					+pic(`prod-3.jpg`,'bg',0)

		+item({
			number: '№ 001-01/2',
			color:'#00CC69',
			status:'Буюртма ёпилган', 
			date: '29.04.2021',
			unit: 'Қадоқда',
			sum: '1 102 999 099 сум',
			total: '12 дона',
		})
			.col-auto 
				+e.img-wrap
					+pic(`prod-4.jpg`,'bg',0)
		+item({
			number: '№ 001-01/3',
			color:'#00CC69',
			status:'Буюртма ёпилган',
			date: '29.04.2021',
			unit: 'Килограм',
			sum: '275 000 сум',
			total: '50 кг',
		})
		+item({
			number: '№ 001-01/4',
			color:'#27B7D6',
			status:'Янги буюртма',
			date: '29.04.2021',
			unit: 'Килограм',
			sum: '275 000 сум',
			total: '50 кг',
		})
	// end sCabinetOrdersSeller

mixin sCabinetOrdersProducts(status)
	// start sCabinetOrdersProducts
	+b.sCabinetOrders--products#sCabinetOrders&attributes(attributes)
		+e.heading
			h1 Махсулотлар
			+e.BUTTON.add-prod
				+icon('plus-circle')
				span Махсулот қўшиш
		+e.head
			.row 
				+b.check-wrap.col-auto 
					+in-c()
				.col-auto
					+icon("menu-i")
				.col
					+input("Танлаш",'select').select-with-arrows(disabled)
		.archive
			.info-wrap
				.prod-line__img-wrap.bg-wrap
					+icon("icon-archive").picture-bg.img-bg
				.text
					.title Архивланган маҳсулотлар
					.undertitle Умумий: 4 маҳсулотлар
			a.button(href="#") Барчаси
				+icon("chevron-right")
		if status
			mixin item(data)
				+b.orders-item--products&attributes(attributes)
					.row
						.col
							+e.number= data.number
							h5= data.title
							+e.status(style=`--color: ${data.color}`)
								= data.status
							ul
								li 
									span.text-secondary Яратилган санаси:
									= data.date
								li 
									span.text-secondary Фаасовка:
									= data.unit
								li 
									span.text-secondary Жорий нархи:
									= data.sum
								
						+e.col.col-sm-auto
							+e.images.row
								if data.emty
									.col-auto
										+e.img-wrap
								else
									block
							if data.btn
								+e.btn.btn-primary(href="#") Тасдиқлаш
							else
								+e.btn.btn-outline-primary(href="#") Батафсил
			+item({
				number: '235356751',
				title: 'Горох пурпурный король',
				color:'#27B7D6',
				status:'Сотувда', 
				date: '28.04.2021 16:08',
				unit: 'Килограм',
				sum: '4 199 сум',
			}).notification
				.col-auto 
					+e.img-wrap
						+pic(`prod-2.jpg`,'bg',0)
				.col-auto 
					+e.img-wrap
						+pic(`add-product-2.png`,'bg',0)
				.col-auto 
					+e.img-wrap 
						span +2
			+item({
				number: '235356751',
				title: 'Россия гигант сабзиси',
				color:'#00CC69',
				status:'Сотилган', 
				date: '28.04.2021 16:08',
				unit: 'Килограм',
				sum: '15 099 сум',
			}).notification
				.col-auto 
					+e.img-wrap
						+pic(`prod-5.jpg`,'bg',0)
				.col-auto 
					+e.img-wrap 
						span +1

			+item({
				number: '235356751',
				title: 'Яшил нўхат',
				color:'#27B7D6',
				status:'Сотувда',
				date: '28.04.2021 16:08',
				unit: 'Килограм',
				sum: '12 099 сум',
			})
				.col-auto 
					+e.img-wrap
						+pic(`products-site-2.jpg`,'bg',0)
				.col-auto 
					+e.img-wrap 
						span +2
			+item({
				number: '235356751',
				title: 'Шакарли Рукола',
				color:'#00CC69',
				status:'Сотилган',
				date: '28.04.2021 16:08',
				unit: 'Килограм',
				sum: '12 099 сум',
			})
				.col-auto 
					+e.img-wrap
						+pic(`prod-7.jpg`,'bg',0)
				.col-auto 
					+e.img-wrap 
						span +2
		else
			mixin item(data)
				+b.orders-item--products
					.row
						.col
							+e.number= data.number
							h5= data.title
							ul
								li 
									span.text-secondary Яратилган санаси:
									= data.date
								li 
									span.text-secondary Фаасовка:
									= data.unit
								li 
									span.text-secondary Жорий нархи:
									= data.sum
								
						+e.col.col-sm-auto
							+e.images.row
								if data.emty
									.col-auto
										+e.img-wrap
								else
									block
									
							if data.btn
								+e.btn.btn-primary(href="#") Тасдиқлаш

							else
								+e.btn.btn-outline-primary(href="#") Батафсил
			table

				mixin item2(data)
					+b.TR.prod-line 
						+b.TD.check-wrap.td
							+in-c()
						td
							+e.img-wrap.bg-wrap(href="#")
								+pic("prod-2.jpg",'bg',0).picture-bg
						td
							p.mb-0 28.04.2021
							.title
								a.text-body(href="#") Дуккакли бинафша шох нохати самарқанд осимлиги
							+b.tooltip-tr
								+e.inner Модератор текширувида
						td
							.h6.fw-400.mb-1 12 003 000 сум
						td
							.h6.fw-400.mb-1 1 Килограм
						td
							.faol Фаол
						td
							.d-md-none
								.h6.fw-400.mb-1 12 003 000 сум
								.text-secondary2 1 Килограм
							.row.g-2
								.col-auto
									+e.btn-circle(type="button")
										+icon("edit")
										+b.tooltip
											+e.inner Таҳрирлаш

								.col-auto
									+e.btn-circle(type="button")
										+icon("icon-archive")
										+b.tooltip
											+e.inner Ўчириш
					+b.TR.prod-line
						+b.TD.check-wrap.td
							+in-c()
						td
							+e.img-wrap.bg-wrap(href="#")
								+pic("prod-1.jpg",'bg',0).picture-bg
						td
							p.mb-0 28.04.2021
							.title
								a.text-body(href="#") Қизил лавлаги
							+b.tooltip-tr
								+e.inner Модератор текширувида
						td
							.h6.fw-400.mb-1 12 003 000 сум
						td
							.h6.fw-400.mb-1 1 Килограм
						td
							.no-faol Фаол эмас
						td
							.d-md-none
								.h6.fw-400.mb-1 12 003 000 сум
								.text-secondary2 1 Килограм
							.row.g-2
								.col-auto
									+e.btn-circle(type="button")
										+icon("edit")
										+b.tooltip
											+e.inner Таҳрирлаш

								.col-auto
									+e.btn-circle(type="button")
										+icon("icon-archive")
										+b.tooltip
											+e.inner Ўчириш

				- for (var x = 0; x < 4; x++)
					+item2(data)
			+pugin

mixin sCabinetOrdersProductsArchive(status)
	// start sCabinetOrdersProducts
	+b.sCabinetOrders--products#sCabinetOrders&attributes(attributes)
		+e.heading
			h1 Архивланган маҳсулотлар
		+e.head
			.row
				+b.check-wrap.col-auto
					+in-c()
				.col-auto
					+icon("menu-i")
				.col
					+input("Танлаш",'select').select-with-arrows(disabled)
		if status
			mixin item(data)
				+b.orders-item--products&attributes(attributes)
					.row
						.col
							+e.number= data.number
							h5= data.title
							+e.status(style=`--color: ${data.color}`)
								= data.status
							ul
								li
									span.text-secondary Яратилган санаси:
									= data.date
								li
									span.text-secondary Фаасовка:
									= data.unit
								li
									span.text-secondary Жорий нархи:
									= data.sum

						+e.col.col-sm-auto
							+e.images.row
								if data.emty
									.col-auto
										+e.img-wrap
								else
									block
							if data.btn
								+e.btn.btn-primary(href="#") Тасдиқлаш
							else
								+e.btn.btn-outline-primary(href="#") Батафсил
			+item({
				number: '235356751',
				title: 'Горох пурпурный король',
				color:'#27B7D6',
				status:'Сотувда',
				date: '28.04.2021 16:08',
				unit: 'Килограм',
				sum: '4 199 сум',
			}).notification
				.col-auto
					+e.img-wrap
						+pic(`prod-2.jpg`,'bg',0)
				.col-auto
					+e.img-wrap
						+pic(`add-product-2.png`,'bg',0)
				.col-auto
					+e.img-wrap
						span +2
			+item({
				number: '235356751',
				title: 'Россия гигант сабзиси',
				color:'#00CC69',
				status:'Сотилган',
				date: '28.04.2021 16:08',
				unit: 'Килограм',
				sum: '15 099 сум',
			}).notification
				.col-auto
					+e.img-wrap
						+pic(`prod-5.jpg`,'bg',0)
				.col-auto
					+e.img-wrap
						span +1

			+item({
				number: '235356751',
				title: 'Яшил нўхат',
				color:'#27B7D6',
				status:'Сотувда',
				date: '28.04.2021 16:08',
				unit: 'Килограм',
				sum: '12 099 сум',
			})
				.col-auto
					+e.img-wrap
						+pic(`products-site-2.jpg`,'bg',0)
				.col-auto
					+e.img-wrap
						span +2
			+item({
				number: '235356751',
				title: 'Шакарли Рукола',
				color:'#00CC69',
				status:'Сотилган',
				date: '28.04.2021 16:08',
				unit: 'Килограм',
				sum: '12 099 сум',
			})
				.col-auto
					+e.img-wrap
						+pic(`prod-7.jpg`,'bg',0)
				.col-auto
					+e.img-wrap
						span +2
		else
			mixin item(data)
				+b.orders-item--products
					.row
						.col
							+e.number= data.number
							h5= data.title
							ul
								li
									span.text-secondary Яратилган санаси:
									= data.date
								li
									span.text-secondary Фаасовка:
									= data.unit
								li
									span.text-secondary Жорий нархи:
									= data.sum

						+e.col.col-sm-auto
							+e.images.row
								if data.emty
									.col-auto
										+e.img-wrap
								else
									block

							if data.btn
								+e.btn.btn-primary(href="#") Тасдиқлаш

							else
								+e.btn.btn-outline-primary(href="#") Батафсил
			table

				mixin item2(data)
					+b.TR.prod-line
						+b.TD.check-wrap.td
							+in-c()
						td
							+e.img-wrap.bg-wrap(href="#")
								+pic("prod-2.jpg",'bg',0).picture-bg
						td
							p.mb-0 28.04.2021
							.title
								a.text-body(href="#") Дуккакли бинафша шох нохати самарқанд осимлиги
							+b.tooltip-tr
								+e.inner Модератор текширувида
						td
							.h6.fw-400.mb-1 12 003 000 сум
						td
							.h6.fw-400.mb-1 1 Килограм
						td
							.faol Фаол
						td
							.d-md-none
								.h6.fw-400.mb-1 12 003 000 сум
								.text-secondary2 1 Килограм
							.row.g-2
								.col-auto
									+e.btn-circle(type="button")
										+icon("edit")
										+b.tooltip
											+e.inner Таҳрирлаш

								.col-auto
									+e.btn-circle(type="button")
										+icon("delete")
										+b.tooltip
											+e.inner Ўчириш
					+b.TR.prod-line
						+b.TD.check-wrap.td
							+in-c()
						td
							+e.img-wrap.bg-wrap(href="#")
								+pic("prod-1.jpg",'bg',0).picture-bg
						td
							p.mb-0 28.04.2021
							.title
								a.text-body(href="#") Қизил лавлаги
							+b.tooltip-tr
								+e.inner Модератор текширувида
						td
							.h6.fw-400.mb-1 12 003 000 сум
						td
							.h6.fw-400.mb-1 1 Килограм
						td
							.faol Фаол
						td
							.d-md-none
								.h6.fw-400.mb-1 12 003 000 сум
								.text-secondary2 1 Килограм
							.row.g-2
								.col-auto
									+e.btn-circle(type="button")
										+icon("edit")
										+b.tooltip
											+e.inner Таҳрирлаш

								.col-auto
									+e.btn-circle(type="button")
										+icon("delete")
										+b.tooltip
											+e.inner Ўчириш

				- for (var x = 0; x < 2; x++)
					+item2(data)
			+pugin
			//- +item({
			//- 	number: '235356751',
			//- 	title: 'Горох пурпурный король',
			//- 	date: '28.04.2021 16:08',
			//- 	unit: 'Килограм',
			//- 	sum: '4 199 сум',
			//- })
			//- 	.col-auto 
			//- 		+e.img-wrap
			//- 			+pic(`prod-2.jpg`,'bg',0)
			//- 	.col-auto 
			//- 		+e.img-wrap
			//- 			+pic(`add-product-2.png`,'bg',0)
			//- 	.col-auto 
			//- 		+e.img-wrap 
			//- 			span +2
			//- +item({
			//- 	number: '235356751',
			//- 	title: 'Россия гигант сабзиси',
			//- 	date: '28.04.2021 16:08',
			//- 	unit: 'Килограм',
			//- 	sum: '15 099 сум',
			//- })
			//- 	.col-auto 
			//- 		+e.img-wrap
			//- 			+pic(`prod-5.jpg`,'bg',0)
			//- 	.col-auto 
			//- 		+e.img-wrap 
			//- 			span +1

			//- +item({
			//- 	number: '235356751',
			//- 	title: 'Яшил нўхат',
			//- 	date: '28.04.2021 16:08',
			//- 	unit: 'Килограм',
			//- 	sum: '12 099 сум',
			//- })
			//- 	.col-auto 
			//- 		+e.img-wrap
			//- 			+pic(`products-site-2.jpg`,'bg',0)
			//- 	.col-auto 
			//- 		+e.img-wrap 
			//- 			span +2
			//- +item({
			//- 	number: '235356751',
			//- 	title: 'Шакарли Рукола',
			//- 	date: '28.04.2021 16:08',
			//- 	unit: 'Килограм',
			//- 	sum: '12 099 сум',
			//- })
			//- 	.col-auto 
			//- 		+e.img-wrap
			//- 			+pic(`prod-7.jpg`,'bg',0)
			//- 	.col-auto 
			//- 		+e.img-wrap 
			//- 			span +2

	// end sCabinetOrdersProducts