mixin sCabinetOrders()
	// start sCabinetOrders
	+b.sCabinetOrders#sCabinetOrders&attributes(attributes)
		mixin item(data)
			+b.orders-item&attributes(attributes)
				.row
					.col
						+e.title= data.title
						+e.status(style=`--color: ${data.color}`)
							= data.status
						+e.number № RU210403-907701
						ul
							li 
								span.text-secondary Буюртма берилган сана
								| 27.04.2021
							li 
								span.text-secondary Тўлов тури:
								| Етказиб берилади #[strong 50 380 сум] 3 та махсулот учун
							li 
								span.text-secondary Қабул қилиш усули:
								| Олиб кетиш, 15, Бектемирский район, массив Олима Оширова, Ташкент
					+e.col.col-sm-auto
						+e.images.row
							if data.emty
								.col-auto
									+e.img-wrap

							else
								.col-auto 
									+e.img-wrap
										+pic(`prod-1.jpg`,'bg',0)
								.col-auto 
									+e.img-wrap
										+pic(`prod-1.jpg`,'bg',0)
								block
						if data.btn
							+e.btn.btn-primary(href="#") Тасдиқлаш

						else
							+e.btn.btn-outline-primary(href="#") Бекор қилиш
		+item({
			title:'МЧЖ "Green technology"',
			color:'#27B7D6',
			status:'Тўлов қилинган', 
			btn:"fgb"
		})
			.col-auto 
				+e.img-wrap 
					span +6
		+item({
			title:'МЧЖ "Azia media"',
			color:'#7C7E80',
			status:'Буюртма берилган', 
			btn:"fgb"
		})
		+item({
			title:'ЧП “Mega group”',
			color:'#00CC69',
			status:'Буюртма этказилган', 
			btn:"fgb"
		})
		+item({
			title:'МЧЖ "Azia media"',
			color:' #7C7E80',
			status:'Буюртма берилган',
			emty:"dasd"
		})
	// end sCabinetOrders

mixin sCabinetOrdersSeller()
	// start sCabinetOrdersSeller
	+b.sCabinetOrders--seller#sCabinetOrders&attributes(attributes)
		+e.heading
			h1 Буюртмалар
			select.form-select.form-select-filter
				option Барчаси
				option 	option 1
				option 	option 2
		mixin item(data)
			+b.orders-item--seller&attributes(attributes)
				.row
					.col
						+e.status(style=`--color: ${data.color}`)
							= data.status
						+e.number= data.number
						ul
							li 
								span.text-secondary Буюртма берилган сана:
								= data.date
							li 
								span.text-secondary Ўлчов бирлиги:
								= data.unit
							li 
								span.text-secondary Умумий сумма:
								= data.sum
							li 
								span.text-secondary Умумий миқдори:
								= data.total
					+e.col.col-sm-auto
						+e.images.row
							if data.emty
								.col-auto
									+e.img-wrap
							else
								.col-auto 
									+e.img-wrap
										+pic(`prod-1.jpg`,'bg',0)
								block
						if data.btn
							+e.btn.btn-primary(href="#") Тасдиқлаш

						else
							+e.btn.btn-outline-primary(href="#") Батафсил
		+item({
			number: '№ 001-001',
			color:'#27B7D6',
			status:'Янги буюртма', 
			date: '29.04.2021',
			unit: 'Қадоқда',
			sum: '47 480 сум',
			total: '12 дона',
		}).notification
			.col-auto 
				+e.img-wrap
					+pic(`prod-2.jpg`,'bg',0)
		+item({
			number: '№ 001-01/1',
			color:'#FF3737',
			status:'Бекор қилинди', 
			date: '22.04.2021',
			unit: 'Килограм, Қадоқда',
			sum: '48 890 сум',
			total: '3 кг, 3 дона',
		}).notification
			.col-auto 
				+e.img-wrap
					+pic(`prod-3.jpg`,'bg',0)

		+item({
			number: '№ 001-01/2',
			color:'#00CC69',
			status:'Буюртма ёпилган', 
			date: '29.04.2021',
			unit: 'Қадоқда',
			sum: '1 102 999 099 сум',
			total: '12 дона',
		})
			.col-auto 
				+e.img-wrap
					+pic(`prod-4.jpg`,'bg',0)
		+item({
			number: '№ 001-01/3',
			color:'#00CC69',
			status:'Буюртма ёпилган',
			date: '29.04.2021',
			unit: 'Килограм',
			sum: '275 000 сум',
			total: '50 кг',
		})
		+item({
			number: '№ 001-01/4',
			color:'#27B7D6',
			status:'Янги буюртма',
			date: '29.04.2021',
			unit: 'Килограм',
			sum: '275 000 сум',
			total: '50 кг',
		})
	// end sCabinetOrdersSeller

mixin sCabinetOrdersProducts(status)
	// start sCabinetOrdersProducts
	+b.sCabinetOrders--products#sCabinetOrders&attributes(attributes)
		+e.heading
			h1 Махсулотлар
			+e.BUTTON.add-prod
				+icon('plus-circle')
				span Махсулот қўшиш
		if status
			mixin item(data)
				+b.orders-item--products&attributes(attributes)
					.row
						.col
							+e.number= data.number
							h5= data.title
							+e.status(style=`--color: ${data.color}`)
								= data.status
							ul
								li 
									span.text-secondary Яратилган санаси:
									= data.date
								li 
									span.text-secondary Фаасовка:
									= data.unit
								li 
									span.text-secondary Жорий нархи:
									= data.sum
								
						+e.col.col-sm-auto
							+e.images.row
								if data.emty
									.col-auto
										+e.img-wrap
								else
									block
							if data.btn
								+e.btn.btn-primary(href="#") Тасдиқлаш
							else
								+e.btn.btn-outline-primary(href="#") Батафсил
			+item({
				number: '235356751',
				title: 'Горох пурпурный король',
				color:'#27B7D6',
				status:'Сотувда', 
				date: '28.04.2021 16:08',
				unit: 'Килограм',
				sum: '4 199 сум',
			}).notification
				.col-auto 
					+e.img-wrap
						+pic(`prod-2.jpg`,'bg',0)
				.col-auto 
					+e.img-wrap
						+pic(`add-product-2.png`,'bg',0)
				.col-auto 
					+e.img-wrap 
						span +2
			+item({
				number: '235356751',
				title: 'Россия гигант сабзиси',
				color:'#00CC69',
				status:'Сотилган', 
				date: '28.04.2021 16:08',
				unit: 'Килограм',
				sum: '15 099 сум',
			}).notification
				.col-auto 
					+e.img-wrap
						+pic(`prod-5.jpg`,'bg',0)
				.col-auto 
					+e.img-wrap 
						span +1

			+item({
				number: '235356751',
				title: 'Яшил нўхат',
				color:'#27B7D6',
				status:'Сотувда',
				date: '28.04.2021 16:08',
				unit: 'Килограм',
				sum: '12 099 сум',
			})
				.col-auto 
					+e.img-wrap
						+pic(`products-site-2.jpg`,'bg',0)
				.col-auto 
					+e.img-wrap 
						span +2
			+item({
				number: '235356751',
				title: 'Шакарли Рукола',
				color:'#00CC69',
				status:'Сотилган',
				date: '28.04.2021 16:08',
				unit: 'Килограм',
				sum: '12 099 сум',
			})
				.col-auto 
					+e.img-wrap
						+pic(`prod-7.jpg`,'bg',0)
				.col-auto 
					+e.img-wrap 
						span +2
		else
			mixin item(data)
				+b.orders-item--products
					.row
						.col
							+e.number= data.number
							h5= data.title
							ul
								li 
									span.text-secondary Яратилган санаси:
									= data.date
								li 
									span.text-secondary Фаасовка:
									= data.unit
								li 
									span.text-secondary Жорий нархи:
									= data.sum
								
						+e.col.col-sm-auto
							+e.images.row
								if data.emty
									.col-auto
										+e.img-wrap
								else
									block
									
							if data.btn
								+e.btn.btn-primary(href="#") Тасдиқлаш

							else
								+e.btn.btn-outline-primary(href="#") Батафсил
			+item({
				number: '235356751',
				title: 'Горох пурпурный король',
				date: '28.04.2021 16:08',
				unit: 'Килограм',
				sum: '4 199 сум',
			})
				.col-auto 
					+e.img-wrap
						+pic(`prod-2.jpg`,'bg',0)
				.col-auto 
					+e.img-wrap
						+pic(`add-product-2.png`,'bg',0)
				.col-auto 
					+e.img-wrap 
						span +2
			+item({
				number: '235356751',
				title: 'Россия гигант сабзиси',
				date: '28.04.2021 16:08',
				unit: 'Килограм',
				sum: '15 099 сум',
			})
				.col-auto 
					+e.img-wrap
						+pic(`prod-5.jpg`,'bg',0)
				.col-auto 
					+e.img-wrap 
						span +1

			+item({
				number: '235356751',
				title: 'Яшил нўхат',
				date: '28.04.2021 16:08',
				unit: 'Килограм',
				sum: '12 099 сум',
			})
				.col-auto 
					+e.img-wrap
						+pic(`products-site-2.jpg`,'bg',0)
				.col-auto 
					+e.img-wrap 
						span +2
			+item({
				number: '235356751',
				title: 'Шакарли Рукола',
				date: '28.04.2021 16:08',
				unit: 'Килограм',
				sum: '12 099 сум',
			})
				.col-auto 
					+e.img-wrap
						+pic(`prod-7.jpg`,'bg',0)
				.col-auto 
					+e.img-wrap 
						span +2

	// end sCabinetOrdersProducts