mixin infor-slide(i,bg,t)
	+e.slide.swiper-slide
		+e.item(style=`--slide-bg:${bg}`)
			.h2.mb-3= t
			+e.row.row
				.col
					.row
						block
				+e.col.col-auto.d-none.d-lg-block
					+pic(`inform-${i}.png`,'',0)
mixin info-card(i,t,p)
	+e.col-sm.col-md-6
		+e.card
			+e.icon-wrap
				+pic(`info-icon-${i}.png`,'',0)
			.h6.fw-500= t
			p!= p

				//- img(src=``, alt="")
mixin sInformation(data)
	// start sInformation
	+b.sInformation.section#sInformation&attributes(attributes)
		.container
			+e.slider--js.swiper-container
				.swiper-wrapper
					+infor-slide(1,'linear-gradient(0deg, #E9FDF3, #E9FDF3)','Харидорларлар учун')
						+info-card(`1-1`,`Қулай харидлар`,`Сервис орқали турли хилдаги махсулотларни харид қилиш нимконияти`)
						+info-card(`1-2`,`Махсулотлар каталоги`,`Қишлоқ хўжалиги учун катта миқдордаги махсулотлар каталоги`)
						+info-card(`1-3`,`Сотувчи билан доимий алоқа`,`Cервис орқали барча саволлар бойича сотувчи билан  алоқа ўрнатиш`)
						+info-card(`1-4`,`Ишончли ҳимоя`,`Харидорларни ҳимоя қилиш кафолати`)
						

					+infor-slide(2,'#EFE9F2','Сотувчилар учун')
						+info-card(`2-1`,`Бизнесни ривожлантириш`,`Сервис орқали махсулотингиз учун янги мижозлар топиш имкони`)
						+info-card(`2-2`,`Манфатли ҳамкорлик`,`Доимий мижозлар билан ҳамкорликда ишлаш имкони`)
						+info-card(`2-3`,`Харидор билан доимий алоқа`,`Барча сўровлар бойича мижозлар билан тўгридан тўгри алоқа ўрнатиш`)
						+info-card(`2-4`,`Қўшимча кўникмалар`,`Қишлоқ хўжалиги соҳасидаги ўзгаришлар ва сўнги янгиликлардан хабардор бўлиш`)
				.swiper-pagination
			
	// end sInformation