mixin infor-slide(i,bg,t)
	+e.slide.swiper-slide
		+e.item(style=`--slide-bg:${bg}`)
			+e.row.row
				.col
					.h2.mb-3= t
					block
				+e.col.col-auto.d-none.d-lg-block
					+pic(`inform-${i}.png`,'',0)
mixin info-card(t,p)
	.desc= t
	button.btn.btn-primary= p

				//- img(src=``, alt="")
mixin sInformationBody(data)
	// start sInformation
	+b.sInformation.section#sInformation&attributes(attributes)
		.container
			+e.slider--js.swiper-container
				.swiper-wrapper
					block
				.swiper-pagination
	// end sInformation
	
mixin sInformation(data)
	+sInformationBody(data)
			+infor-slide(1,'linear-gradient(0deg, #E9FDF3, #E9FDF3)','Харидорларлар учун')
				+info-card(`Бизнинг сервис орқали исталган махсулотни сотиб олинг. Қишлоқ хўжалиги учун катта миқдордаги махсулотлар каталоги`,`Харидни бошлаш`)
				

			+infor-slide(2,'#EFE9F2','Сотувчилар учун')
				+info-card(`Сервис орқали махсулотингиз учун янги мижозлар топиш  каталоги. Харидорларни ҳимоя қилиш кафолати`,`Сотувни бошлаш`)

mixin sInformationB(data)
	+sInformationBody(data)
			+infor-slide('b-1','rgba(55, 123, 225, 0.15)','Харидорларлар учун')
				+info-card(`Бизнинг сервис орқали исталган махсулотни сотиб олинг. Қишлоқ хўжалиги учун катта миқдордаги махсулотлар каталоги`,`Харидни бошлаш`)
				

			+infor-slide('b-2','#EBF2FC','Сотувчилар учун')
				+info-card(`Сервис орқали махсулотингиз учун янги мижозлар топиш  каталоги. Харидорларни ҳимоя қилиш кафолати`,`Сотувни бошлаш`)

