mixin news-control()
	+b.news-control
				+e.toggle--js.d-md-none Барча янгиликлар
					+icon("chevron-down")
				+e.body.d-md-flex
					+e.btn(href="#").active Барча янгиликлар
					+e.btn(href="#") Бизнес
					+e.btn(href="#") Технология
					+e.btn(href="#") Маҳаллий
					+e.btn(href="#") Видеоянгиликлар
					+e.btn(href="#") Фотоянгиликлар
mixin catalog-aside()
	+e.col-aside.col-lg-3.col-md-4
					+e.col-title  Тезкор янгиликлар
					+itemSlide('lg', `"Банкоматларда техник ишлар олиб борилмоқда!" `, ``,`c`, 'col-12').--bg
					+itemSlide('lg', `"Банкоматларда техник ишлар олиб борилмоқда!" `, ``,`c`, 'col-12').--bg
					+itemSlide('lg', `"Банкоматларда техник ишлар олиб борилмоқда!" `, ``,`c`, 'col-12').--bg
					+e.banner.bg-wrap(href="#")
						+pic("aside-banner.jpg",'bg',0).picture-bg
					+e.col-title Енг кўп ўқилганлар
					+itemSlideText('lg', `Ўзбекистон органик маҳсулотлари ишлаб чикарувчилари етарли емас `, ``,`c`, 'col-12')
					+itemSlideText('lg', `Ўзбекистон органик маҳсулотлари ишлаб чикарувчилари етарли емас `, ``,`c`, 'col-12')
					+itemSlideText('lg', `Ўзбекистон органик маҳсулотлари ишлаб чикарувчилари етарли емас `, ``,`c`, 'col-12')
					+itemSlideText('lg', `Ўзбекистон органик маҳсулотлари ишлаб чикарувчилари етарли емас `, ``,`c`, 'col-12')
mixin sBankProductsBody(h2, page, link)
	// start sBankProducts
	+b.sBankProducts.section&attributes(attributes)
		.container
			if h2
				+b.section-title.text-center(class="wow animate__fadeInUp" )
					h2= h2
			+e.slider-wrap
				.swiper-container(class=(page ? 'sBankProducts__slider--page sBankProducts__slider--page-js' : ' sBankProducts__slider--js'))
					.swiper-wrapper
						block
				if !page
					.d-none.d-md-block(class="wow animate__fadeInUp" )
						+arrow
			if page
				+pugin()
			if link
				+e.foot.text-end
					a(href="#") Барча янгиликлар 
	// end sBankProducts
mixin itemSlide(i, t, p, l, cl="swiper-slide  col-lg-3")
	+e.col(class="wow animate__fadeInUp" class= cl )
		+e.item(href='#')&attributes(attributes)
			+e.DIV.img-wrap
				if i
					//- img(src=`img/@2x/populars-${i}.jpg` alt="")
					+pic(`bank-${i}.jpg`,'',0)
			+e.DIV.caption
				if l
					.text-primary.small.mb-2 Бизнес
				+e.DIV.price!= t
				if p
					p!= p
				if !l
					div
						.text-primary Батафсил
				else if l=='d'
					.text-primary.mt-3 Юклаб олиш 
						+icon("download2")
				else if l=='hide'
				else
					.row.mt-auto
						.col.text-secondary2 15 декабр 2021
						.col-auto.text-secondary2 
							+icon("eye2")
							| 1248
mixin itemSlideText(i, t, p, l)
	+e.col(class="wow animate__fadeInUp" class= cl )
		+e.item--text(href='#')&attributes(attributes)  
				if l
					//- .text-primary.small.mb-2 Бизнес
				if p
					p!= p
				if !l
					div
						.text-primary Батафсил
				else if l=='hide'
				else
					.row
						.col.text-secondary2 15 декабр 2021
						.col-auto.text-secondary2 
							//- +icon("eye2")
							//- | 1248
				+e.DIV.price!= t

							
mixin itemSlideMain(i, t, p, l, cl="swiper-slide  col-lg-3") 
	+e.col(class="wow animate__fadeInUp" class= cl )
		+e.item--main(href='#')&attributes(attributes)
			+e.DIV.img-wrap
				if i
					//- img(src=`img/@2x/populars-${i}.jpg` alt="")
					+pic(`bank-${i}.jpg`,'',0)
			+e.DIV.caption 
				+e.DIV.price!= t
				if p
					p!= p
				if !l
					div
						.text-primary Батафсил
				else if l=='hide'
				else
					.row
						.col-auto.text-secondary2 Бизнес
						.col.text-secondary2 15 декабр 2021
						.col-auto.text-secondary2 
							+icon("eye2")
							| 1248


mixin sBankProducts(data)
	+sBankProductsBody('Банк махсулотлари')
		+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`,'','hide')
		+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`,'','hide')
		+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `,'','hide')
		+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `,'','hide')
		+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`,'','hide')
		+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`,'','hide')
		+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `,'','hide')
		+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `,'','hide')
mixin sBankProducts2(data)
	+sBankProductsBody('Янгиликлар','','link')
		+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,`c`)
		+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,`c`)
		+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, ``,`c`)
		+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, ``,`c`)
		+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,`c`)
		+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,`c`)
		+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, ``,`c`)
		+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, ``,`c`)
mixin sBankProducts-22(data)
	// start sBankProducts
	+b.sBankProducts.section&attributes(attributes)
		.container
			+e.row-sm.row
				- for (var x = 0; x < 4; x++)
					+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,'d',"col-sm-6 col-lg-4  col-xl-3 col-group")
					+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,'d',"col-sm-6 col-lg-4  col-xl-3 col-group")
					+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, ``,'d',"col-sm-6 col-lg-4  col-xl-3 col-group")
					+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, ``,'d',"col-sm-6 col-lg-4  col-xl-3 col-group")
			+pugin
					//- +itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, `"Фермерлар мактабида" ўсимликларни ҳимоя қилиш `,'l')
					//- +itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,'l')
			
mixin sBankProducts-27(data)
	// start sBankProducts
	+b.sBankProducts.section&attributes(attributes)
		.container
			+e.row-sm.row
				- for (var x = 0; x < 4; x++)
					+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,'d',"col-sm-6 col-lg-4  col-xl-3 col-group")
					+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,'d',"col-sm-6 col-lg-4  col-xl-3 col-group")
					+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, ``,'d',"col-sm-6 col-lg-4  col-xl-3 col-group")
					+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, ``,'d',"col-sm-6 col-lg-4  col-xl-3 col-group")
			+pugin

mixin sBankProducts-34(data)
	// start sBankProducts
	+b.sBankProducts.section&attributes(attributes)
		.container
			+news-control()
			.row
				+e.col-main.col-lg-9.col-md-8
					+e.col-title  Кун янгилиги
					+itemSlideMain("lg", `Ўзбекистон бўйлаб кузги мавсум учун ғалла еғими бошланиши: Барча вилоятлар ва ҳудудлар еғимга жалб етилди`, ``,`c`, 'col-12')
					.row
						.col
							+e.col-title  Сўнги янгиликлар
						.col-auto.h5.fw-400
							a(href="") Барчаси
					+e.row-sm.row
						- let cl = 'col-sm-6 col-lg-4' 

						+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,`c`, cl)
						+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,`c`, cl)
						+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, ``,`c`, cl)
						+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, ``,`c`, cl)
						+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,`c`, cl)
						+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,`c`, cl)
						//- +itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, ``,`c`, cl)
						//- +itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, ``,`c`, cl)
					- let cl2 = "col-lg-4  swiper-slide"
					.row
						.col
							+e.col-title  Видеоянгиликлар
						.col-auto.h5.fw-400
							a(href="") Барчаси
					+e.slider-wrap--all
						.swiper-container(class='sBankProducts__slider--2js')
							.swiper-wrapper 
								+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,`c`, cl2).--video
								+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,`c`, cl2).--video
								+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, ``,`c`, cl2).--video
								+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, ``,`c`, cl2).--video
								+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,`c`, cl2).--video
								+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,`c`, cl2).--video
						.d-none.d-md-block(class="wow animate__fadeInUp" )
							+arrow
							
					.row
						.col
							+e.col-title  Фотоянгиликлар
						.col-auto.h5.fw-400
							a(href="") Барчаси
					+e.slider-wrap--all
						.swiper-container(class='sBankProducts__slider--2js')
							.swiper-wrapper 
								+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,`c`, cl2).--photo
								+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,`c`, cl2).--photo
								+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, ``,`c`, cl2).--photo
								+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, ``,`c`, cl2).--photo
								+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,`c`, cl2).--photo
								+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,`c`, cl2).--photo
						.d-none.d-md-block(class="wow animate__fadeInUp" )
							+arrow

				+catalog-aside()
	// end sBankProducts
mixin sBankProducts-35(data)
	// start sBankProducts
	+b.sBankProducts.section&attributes(attributes)
		.container
			+news-control()
			.row
				+e.col-main.col-lg-9.col-md-8
					.row
						.col
							+e.col-title  Сўнги янгиликлар
						//- .col-auto.h5.fw-400
						//- 	a(href="") Барчаси
					+e.row-sm.row
						- let cl = 'col-sm-6 col-lg-4' 
						- for (var x = 0; x < 5; x++)
							+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,`c`, cl)
							+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,`c`, cl)
							+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, ``,`c`, cl)
							+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, ``,`c`, cl)
							//- +itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,`c`, cl)
							//- +itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,`c`, cl)
						//- +itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, ``,`c`, cl)
						//- +itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, ``,`c`, cl)
				+catalog-aside()
	// end sBankProducts
mixin sBankProducts-37(data)
	// start sBankProducts
	+b.sBankProducts.section&attributes(attributes)
		.container
			+news-control()
			.row
				+e.col-main.col-lg-9.col-md-8
					.row
						.col
							+e.col-title Видеоянгиликлар
						//- .col-auto.h5.fw-400
						//- 	a(href="") Барчаси
					+e.row-sm.row
						- let cl = 'col-sm-6 col-lg-4' 
						- for (var x = 0; x < 5; x++)
							+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,`c`, cl).--video
							+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,`c`, cl).--video
							+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, ``,`c`, cl).--video
							+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, ``,`c`, cl).--video
							//- +itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,`c`, cl)
							//- +itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,`c`, cl)
						//- +itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, ``,`c`, cl)
						//- +itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, ``,`c`, cl)
					+pugin
				+catalog-aside()
	// end sBankProducts
mixin sBankProducts-38(data)
	// start sBankProducts
	+b.sBankProducts.section&attributes(attributes)
		.container
			+news-control()
			.row
				+e.col-main.col-lg-9.col-md-8
					.row
						.col
							+e.col-title Фотоянгиликлар
						//- .col-auto.h5.fw-400
						//- 	a(href="") Барчаси
					+e.row-sm.row
						- let cl = 'col-sm-6 col-lg-4' 
						- for (var x = 0; x < 5; x++)
							+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,`c`, cl).--photo
							+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,`c`, cl).--photo
							+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, ``,`c`, cl).--photo
							+itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, ``,`c`, cl).--photo
							//- +itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,`c`, cl)
							//- +itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,`c`, cl)
						//- +itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, ``,`c`, cl)
						//- +itemSlide('', `"Банкоматларда техник ишлар олиб борилмоқда!" `, ``,`c`, cl)
					+pugin
				+catalog-aside()
	// end sBankProducts
	
mixin sBankProducts-39(data)
	// start sBankProducts
	+b.sBankProducts.section&attributes(attributes)
		.container
			//- +news-control()
			.row
				+e.col-main.col-lg-9.col-md-8
					+e.col-title &nbsp;
					+b.sContent
						+e.head
							+e.img-wrap--play(href="https://www.youtube.com/watch?v=C3xSEEcJIWw" data-fancybox) 
								+pic('bank-lg.jpg','bg')
							.row(style="--bs-gutter-y: 0rem;")
								.col-auto.text-secondary2 Технология
								.col-auto.text-secondary2 15 декабр 2021
								.col-auto.text-secondary2 
									+icon("eye2")
									| 1248
						+e.body
							h1 20 декабр куни Тошкент ёшлар форумининг очилиш маросими бўлиб ўтди
							p Ўзбекистон Республикаси Президентининг «Қишлоқ хўжалиги маҳсулотларининг сифат ва хавфсизлик кўрсаткичлари халқаро стандартларга мувофиқлигини таъминлашга доир қўшимча чора-тадбирлар тўғрисида» 2020 йил 18 майдаги ПФ-5995-сон Фармони ижроси юзасидан Вазирлар Маҳкамаси қарор қилади:
								br
								| Қуйидагиларни назарда тутувчи Органик қишлоқ хўжалиги ва озиқ-овқат маҳсулотлари ишлаб чиқаришни ихтиёрий сертификатлаштиришдан ўтказиш тартиби тўғрисидаги низом иловага мувофиқ тасдиқлансин:
								br
								| органик қишлоқ хўжалиги ва озиқ-овқат маҳсулотлари ишлаб чиқаришни ихтиёрий сертификатлашни ташкил этиш;
								br
								| органик қишлоқ хўжалиги ва озиқ-овқат маҳсулотлари ишлаб чиқаришни ихтиёрий сертификатлашда ўтиш даври тартиб-таомиллари;
								br
								| мувофиқликни баҳолаш органи томонидан инспекция назоратини амалга ошириш;
								br
								| органик мувофиқлик сертификатини расмийлаштириш, амал қилишини тўхтатиб туриш, тугатиш ва бекор қилиш, органик мувофиқлик сертификатини қайта расмийлаштириш тартиби.
								br
								| Белгилаб қўйилсинки, органик қишлоқ хўжалиги ва озиқ-овқат маҳсулотлари ишлаб чиқаришни ихтиёрий сертификатлаштириш қуйидагиларга нисбатан татбиқ этилади:
								br
								| қайта ишланмаган қишлоқ хўжалиги экинлари;  тирик ҳайвонлар, паррандалар ва улардан олинган маҳсулотлар (қайта ишланган маҳсулотлар бундан мустасно);
								br
								| қайта ишланган қишлоқ хўжалиги ва озиқ-овқат маҳсулотлари;
								br
								| ҳайвонларнинг озуқа еми сифатида қайта ишланган қишлоқ хўжалиги маҳсулотлари;
								br
								| ўсимлик уруғлари ва экиш материаллари;
								br
								| қўлланиладиган ўғитлар ва ўсимликларни ҳимоя қилиш воситалари ҳамда препаратлар.
								br
								| Ўзбекистон Республикаси Қишлоқ хўжалиги вазирлиги манфаатдор вазирлик ва идоралар билан биргаликда ўзлари қабул қилган норматив-ҳуқуқий ҳужжатларни икки ой муддатда ушбу қарорга мувофиқлаштирсин. Мазкур қарорнинг бажарилишини назорат қилиш Ўзбекистон Республикаси Бош вазирининг аграр ва озиқ-овқат соҳаларини ривожлантириш масалалари бўйича ўринбосари Ш.М. Ғаниев ва Ўзбекистон Республикаси қишлоқ хўжалиги вазири Ж.А. Ходжаев зиммасига юклансин.
							<script src="https://yastatic.net/share2/share.js"></script>
							<div class="ya-share2" data-curtain data-services="vkontakte,facebook,odnoklassniki,telegram,twitter"></div>
					.row
						.col
							+e.col-title Тавсия етамиз
					+e.row-sm.row
						- let cl = 'col-sm-6 col-lg-4' 
						//- - for (var x = 0; x < 5; x++)
						+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,`c`, cl).--video
						+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,`c`, cl).--video
						+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, ``,`c`, cl).--video 
				+catalog-aside()
	// end sBankProducts
mixin sBankProducts-40(data)
	// start sBankProducts
	+b.sBankProducts.section&attributes(attributes)
		.container
			//- +news-control()
			.row
				+e.col-main.col-lg-9.col-md-8 
					+b.sContent
						+e.body
							h1 Фараҳбахш, аммо умри қисқа – қорли Тошкентдан фоторепортаж
							p Бутун дунёга таъсир қилаётган иқлим ўзгаришлари Ўзбекистонда ҳам ўз сўзини айтмоқда. Юртимизга қиш кириб келганига бир ой ўтган бўлса-да, доимий равишда қуруқ об-ҳаво кузатилмоқда. Куз охирида кузатилган чанг бўронлари ҳам аҳвол нақадар ёмонлашаётганини кўрсатиб қўйди. 
							blockquote
								h4: em “ Дам олиш куни пойтахт ва республиканинг қатор ҳудудларида ёғган қор, бу хавотирларни бироз бўлса-да ортга сурди. “ 
							p Бутун дунёга таъсир қилаётган иқлим ўзгаришлари Ўзбекистонда ҳам ўз сўзини айтмоқда. Юртимизга қиш кириб келганига бир ой ўтган бўлса-да, доимий равишда қуруқ об-ҳаво кузатилмоқда. Куз охирида кузатилган чанг бўронлари ҳам аҳвол нақадар ёмонлашаётганини кўрсатиб қўйди.
							+e.img-wrap
								+pic('bank-lg.jpg')
								+e.img-wrap-caption Дам олиш куни пойтахт ва республиканинг қатор ҳудудларида ёғган қор, бу хавотирларни бироз бўлса-да ортга сурди. 
								
							+e.img-wrap
								+pic('bank-lg.jpg')
								+e.img-wrap-caption Дам олиш куни пойтахт ва республиканинг қатор ҳудудларида ёғган қор, бу хавотирларни бироз бўлса-да ортга сурди. 
							p Бутун дунёга таъсир қилаётган иқлим ўзгаришлари Ўзбекистонда ҳам ўз сўзини айтмоқда. Юртимизга қиш кириб келганига бир ой ўтган бўлса-да, доимий равишда қуруқ об-ҳаво кузатилмоқда. Куз охирида кузатилган чанг бўронлари ҳам аҳвол нақадар ёмонлашаётганини кўрсатиб қўйди. 
								br
								| Бутун дунёга таъсир қилаётган иқлим ўзгаришлари Ўзбекистонда ҳам ўз сўзини айтмоқда. Юртимизга қиш кириб келганига бир ой ўтган бўлса-да, доимий равишда қуруқ об-ҳаво кузатилмоқда. Куз охирида кузатилган чанг бўронлари ҳам аҳвол нақадар ёмонлашаётганини кўрсатиб қўйди. 
							ul 
								li Бутун дунёга таъсир қилаётган иқлим ўзгаришлари Ўзбекистонда ҳам ўз сўзини айтмоқда. 
								li Юртимизга қиш кириб келганига бир ой ўтган бўлса-да, доимий равишда қуруқ об-ҳаво кузатилмоқда.
								li Хусусан, Тошкентда эрталаб ёға бошлаган қор йириклашиб - лайлакқорга айланди ва кўп ўтмай бутун шаҳарни оқлик қоплади.
								li Дарахтлар ва айрим бинолар устида қор қолган бўлса-да, бир кун ўтиб ер юзини қоплаган қорлар эриб улгурган.
							+e.img-wrap
								+pic('bank-lg.jpg')
								+e.img-wrap-caption Дам олиш куни пойтахт ва республиканинг қатор ҳудудларида ёғган қор, бу хавотирларни бироз бўлса-да ортга сурди. 
							ol 
								li Бутун дунёга таъсир қилаётган иқлим ўзгаришлари Ўзбекистонда ҳам ўз сўзини айтмоқда. 
								li Юртимизга қиш кириб келганига бир ой ўтган бўлса-да, доимий равишда қуруқ об-ҳаво кузатилмоқда.
								li Хусусан, Тошкентда эрталаб ёға бошлаган қор йириклашиб - лайлакқорга айланди ва кўп ўтмай бутун шаҳарни оқлик қоплади.
								li Дарахтлар ва айрим бинолар устида қор қолган бўлса-да, бир кун ўтиб ер юзини қоплаган қорлар эриб улгурган.
							+b.content-gallery 
								mixin slide()
									+e.slide.swiper-slide.bg-wrap
										+pic('bank-lg.jpg','bg').picture-bg
								+e.slider--js.swiper-container 
									.swiper-wrapper
										- for (var x = 0; x < 6; x++)
											+slide()
									+arrow
								
								+e.slider--thumbs.--thumbs-js.swiper-container 
									.swiper-wrapper
										- for (var x = 0; x < 6; x++)
											+slide()
								.row(style="--bs-gutter-y: 0rem;")
									.col-auto.text-secondary2 Технология
									.col-auto.text-secondary2 15 декабр 2021
									.col-auto.text-secondary2 
										+icon("eye2")
										| 1248
							p Бутун дунёга таъсир қилаётган иқлим ўзгаришлари Ўзбекистонда ҳам ўз сўзини айтмоқда. Юртимизга қиш кириб келганига бир ой ўтган бўлса-да, доимий равишда қуруқ об-ҳаво кузатилмоқда. Куз охирида кузатилган чанг бўронлари ҳам аҳвол нақадар ёмонлашаётганини кўрсатиб қўйди.  Бутун дунёга таъсир қилаётган иқлим ўзгаришлари Ўзбекистонда ҳам ўз сўзини айтмоқда. Юртимизга қиш кириб келганига бир ой ўтган бўлса-да, доимий равишда қуруқ об-ҳаво кузатилмоқда. Куз охирида кузатилган чанг бўронлари ҳам аҳвол нақадар ёмонлашаётганини кўрсатиб қўйди. 

							p Ҳаволалар:  
								a.link-info(href="#") Kun.uz   

							<script src="https://yastatic.net/share2/share.js"></script>
							<div class="ya-share2" data-curtain data-services="vkontakte,facebook,odnoklassniki,telegram,twitter"></div>
							+e.btns
								mixin btn(a)
									a.btn.btn-sm.btn-primary(href="#")= a
								+btn("Бизнес") 
								+btn("Бизнес") 
								+btn("Технология") 
								+btn("Бизнес") 
								+btn("Маҳаллий") 
								+btn("Технология") 
								+btn("Маҳаллий") 
								+btn("Маҳаллий")
						.section 
							.section-title
								h2 Изоҳлар
							+form-wrap
								+input('','text',"Исмингиз")
								+input("",'textarea','Изоҳ')
								.text-end 
									button.btn.btn-primary.w-190 Жўнатиш
						+b.text-block
							.h6 Жамшид
							.text-secondary Жуадаям фойдали мақола manga жудаям ёқди. Кейниги ишларизга ривож
						+b.text-block
							.h6 Жамшид
							.text-secondary Жуадаям фойдали мақола manga жудаям ёқди. Кейниги ишларизга ривож
						+b.text-block
							.h6 Жамшид
							.text-secondary Ушбу мақола орқали ўзимга леракли бўлган барча янги маълумотларни қолга киритдим.
					.row
						.col
							+e.col-title Тавсия етамиз

					+e.row-sm.row
						- let cl = 'col-sm-6 col-lg-4' 
						//- - for (var x = 0; x < 5; x++)
						+itemSlide("1-1", `"Фермерлар мактабида" курслар бошланди`, ``,`c`, cl).--photo
						+itemSlide(`2`, `Банкоматларда техник ишлар олиб борилмоқда!`, ``,`c`, cl).--photo
						+itemSlide('1-3', `"Унутилмас саёҳатни ютиб олинг" `, ``,`c`, cl).--photo 
				+catalog-aside()
	// end sBankProducts
