mixin form-head()
    form.js-form-validate( data-parsley-validate="")
        input(class="order", name='order', type='hidden', value=`Заявка  с сайта`)
        block

mixin input(placeholder,  t='text', label, name= t)
    mixin t(t='text',placeholder, name= t)
        if t == "textarea"
            +e.TEXTAREA.input.form-control(name=name placeholder=placeholder)&attributes(attributes)
        else if t == "select"
            +e.SELECT.input.form-select( name= name)&attributes(attributes)
                option(value= placeholder)= placeholder
                - for (var x = 1; x < 5; x++)
                option(value=` placeholder ${x}`)= `placeholder ${x}`
        else if t == 'file'
            +e.INPUT.input.form-control(name=name type=t)&attributes(attributes)

        else if t == 'time'
            +e.INPUT.input.form-control(name=name type=t)&attributes(attributes)

        else if t == 'number'
            +e.INPUT.input.form-control(name=name type=t  )&attributes(attributes)
        else
            +e.INPUT.input.form-control(name=name type=t placeholder=placeholder)&attributes(attributes)
    span.form-wrap__input-wrap.form-group
        if label
            label
                +e.SPAN.input-title= label
                +t(t,placeholder, name)&attributes(attributes)
                block
        else
            +t(t,placeholder, name)&attributes(attributes)
            block
    // +e.input-wrap
mixin select(label,pl,...items)
    span.form-wrap__input-wrap.form-group
        label
            +e.SPAN.title= label
            +e.SELECT.input.form-control&attributes(attributes)

                option()= pl
                each item in items
                    option()= item

//- wrapper for form
mixin form-wrap(inp)
    +b.form-wrap&attributes(attributes)
        form
            if inp
                input(name='example-input-field', type='hidden')
                input(class="order", name='order', type='hidden', value=`Заявка  с сайта`)
                input(class='utm_source' name='utm_source' type="hidden")
                input(class='utm_term' name='utm_term' type="hidden")
                input(class='utm_medium' name='utm_medium' type="hidden")
                input(class='utm_campaign' name='utm_campaign' type="hidden")
            block
//- /wrapper for form


mixin in-c(typ="checkbox", text, icon, name= typ )
    +b.LABEL.custom-input.form-check
        +e.INPUT.input.form-check-input(name=name, type=typ)&attributes(attributes)
        if block
            block
        else
            if icon
                +icon(icon)
            +e.SPAN.text.form-check-label!= text

mixin add-file(n)
    +b.add-file
        label
            +e.INPUT.input(name='file', type='file')
            +e.SPAN.btn
            +e.SPAN.text Прикрепить резюме
        +e.SPAN.filename


mixin policy()
    +e.policy&attributes(attributes)
        +in-c()(checked)
            +e.SPAN.text Шахсий маълумотлардан фойдаланиш
                br
                a(href="#").text-info.tdu шартларини қабул қиламан.

mixin liwCheckBox(title,option1,option2,option3,option4,option5,option6,option7,option8,option9,option10)
    span.form-wrap__input-wrap.form-group
        label
            span.form-wrap__input-title= title
            ul.likeinput-checkbox-wrapper
                li
                    strong Категория
                li.has-children
                    ul
                        if option1
                            li
                                +in-c('checkbox',option1)
                        if option2
                            li
                                +in-c('checkbox',option2)
                        if option3
                            li
                                +in-c('checkbox',option3)
                        if option4
                            li
                                +in-c('checkbox',option4)
                        if option5
                            li
                                +in-c('checkbox',option5)
                        if option6
                            li
                                +in-c('checkbox',option6)
                        if option7
                            li
                                +in-c('checkbox',option7)
                        if option8
                            li
                                +in-c('checkbox',option8)
                        if option9
                            li
                                +in-c('checkbox',option9)
                        if option10
                            li
                                +in-c('checkbox',option10)