mixin slidehead(i,t,p, b="Харидни бошлаш")
	+e.slide.swiper-slide.bg-wrap 
		if block
			block
		else
			+pic(`head-slider-bg-${i}.jpg`,'bg').picture-bg
		+e.content
			+e.title!= t
			p!= p 
		+e.btn.heartbeat(href="#")= b
		//- +pic(`head-slider-img-${i}.png`,'').head-slide-img
		if i
			picture.head-slide-img
				source(type='image/webp' srcset=`img/@2x/webp/head-slider-img-${i}.webp` media=`(min-width:992px)`)
				source(type=`image/webp` srcset=`img/@2x/webp/head-slider-img-mob-${i}.webp`)
				source(type=`image/png` srcset=`img/@2x/head-slider-img-${i}.png` media=`(min-width:992px)`) 
				img(src=`img/@2x/head-slider-img-mob-${i}.png` alt='' loading='lazy')
mixin slidehead2(i,t,p, b="Харидни бошлаш")
	+e.slide.swiper-slide.bg-wrap(style="background: linear-gradient(98.19deg, #72A2C6 4.76%, #7AB1DA 100%);") 
		.container
			if block
				block
			else
				//- +pic(`head-slider-bg-${i}.jpg`,'bg').picture-bg
			+e.content
				+e.title!= t
				p!= p 
			+e.btn.heartbeat(href="#")= b
			//- +pic(`head-slider-img-${i}.png`,'').head-slide-img
			if i
				picture.head-slide-img
					source(type='image/webp' srcset=`img/@2x/webp/head-slider-img-${i}.webp` media=`(min-width:992px)`)
					source(type=`image/webp` srcset=`img/@1x/webp/head-slider-img-${i}.webp`)
					source(type=`image/png` srcset=`img/@2x/head-slider-img-${i}.png` media=`(min-width:992px)`) 
					img(src=`img/@1x/head-slider-img-${i}.png` alt='' loading='lazy')
mixin slideheadService(i,t,p, b="Ўтиш")
	+e.slide.swiper-slide.bg-wrap
		if block
			block
		else
			+pic(`service-slider-bg-${i}.jpg`,'bg').picture-bg
		+e.content
			+e.title!= t
			p!= p
		+e.btn.heartbeat(href="#")= b
		//- +pic(`head-slider-img-${i}.png`,'').head-slide-img
		if i
			picture.head-slide-img
				source(type='image/webp' srcset=`img/@2x/webp/service-slider-img-${i}.webp` media=`(min-width:992px)`)
				source(type=`image/webp` srcset=`img/@2x/webp/service-slider-img-mob-${i}.webp`)
				source(type=`image/png` srcset=`img/@2x/service-slider-img-${i}.png` media=`(min-width:992px)`)
				img(src=`img/@2x/service-slider-img-mob-${i}.png` alt='')

mixin slideheadMediaLibrary(i,t,p, b="Ўтиш")
	+e.slide.swiper-slide.bg-wrap
		if block
			block
		else
			+pic(`service-slider-bg-${i}.jpg`,'bg').picture-bg
		+e.content
			+e.title!= t
			p!= p
		+e.btn.heartbeat(href="#")= b
		//- +pic(`head-slider-img-${i}.png`,'').head-slide-img
		if i
			picture.head-slide-img
				source(type='image/webp' srcset=`img/@2x/webp/library-slider-img-${i}.webp` media=`(min-width:992px)`)
				source(type=`image/webp` srcset=`img/@2x/webp/library-slider-img-mob-${i}.webp`)
				source(type=`image/png` srcset=`img/@2x/library-slider-img-${i}.png` media=`(min-width:992px)`)
				img(src=`img/@2x/library-slider-img-mob-${i}.png` alt='')

mixin headcards()
	+b.cardsHead
		+e.row.row
			mixin slide(i,t)
				+e.col.col-lg-3.col-sm-6
					+e.item(href="#")
						.row
							if img
							.col-auto
								+pic(`logo-${i}.png`,'',0)
							if t
								.col!= t
			+slide('2')
			+slide('1')
			+slide('7','Онлайн консултант')
			+slide('8','Агротех карталар')

mixin sHeaderBannerBody(data)
	// start sHeaderBanner
	+b.sHeaderBanner.section#sHeaderBanner&attributes(attributes)
		.container 
			+e.slider--js.swiper-container
				.swiper-wrapper
					block
				+e.arrow-wrapper.d-none.d-lg-block
					+arrow
				.swiper-pagination-wrap
					.pieProgress(role='progressbar'  aria-valuemin='0' data-step='2' aria-valuemax='100').d-none.d-lg-block
						.progress__meter
							span.progress__label

					.swiper-pagination
			+headcards()
	// end sHeaderBanner
mixin sHeaderBannerBody2(data)
	// start sHeaderBanner
	+b.sHeaderBanner--theme.section#sHeaderBanner&attributes(attributes) 
		+e.slider--js.swiper-container
			.swiper-wrapper
				block
			+e.arrow-wrapper.d-none.d-lg-block
				.container
					+e.arrow-wrapper-inner
						+arrow
			.swiper-pagination-wrap
				.pieProgress(role='progressbar'  aria-valuemin='0' data-step='2' aria-valuemax='100').d-none.d-lg-block
					.progress__meter
						span.progress__label

				.swiper-pagination
		+e.top.container 
			+headcards()
	// end sHeaderBanner
mixin sHeaderBannerBodyService(data)
	// start sHeaderBanner
	+b.sHeaderBanner.section#sHeaderBanner&attributes(attributes).servicesBanner
		.container
			+e.slider--js.swiper-container
				.swiper-wrapper
					block
				+e.arrow-wrapper.d-none.d-lg-block
					+arrow
				.swiper-pagination-wrap
					.pieProgress(role='progressbar'  aria-valuemin='0' data-step='2' aria-valuemax='100').d-none.d-lg-block
						.progress__meter
							span.progress__label
					.swiper-pagination
	// end sHeaderBanner
mixin sHeaderBannerBodyLibrary(data)
	// start sHeaderBanner
	+b.sHeaderBanner.section#sHeaderBanner&attributes(attributes).libraryBanner
		.container
			+e.slider--js.swiper-container
				.swiper-wrapper
					block
				+e.arrow-wrapper.d-none.d-lg-block
					+arrow
				.swiper-pagination-wrap
					.pieProgress(role='progressbar'  aria-valuemin='0' data-step='2' aria-valuemax='100').d-none.d-lg-block
						.progress__meter
							span.progress__label
					.swiper-pagination
	// end sHeaderBanner
mixin sHeaderBanner(data)
	+sHeaderBannerBody
		+slidehead(1,`Ўз аграр бизнесингизни биз билан қуринг`,`Ҳамкорлар, дилерлар, етказиб берувчилар ва улгуржи харидорларни топиш учун ягона онлайн платформа`)
		+slidehead(2,`Маҳсулотингизни жойланг ва ўз мижозларингизга ега бўлинг`,`Махсулотингизни платформага жойлаш орқали сиз янги харидорларга ега бўласиз ва ўз бизнесингизни ривожлантирасиз`)
		+slidehead(3, `Маҳсулотингизни жойланг ва ўз мижозларингизга ега бўлинг`,`Махсулотингизни платформага жойлаш орқали сиз янги харидорларга ега бўласиз ва ўз бизнесингизни ривожлантирасиз`) 

mixin sHeaderBanner2(data)
	+sHeaderBannerBody
		+slidehead('2-1',`Агрозамин билан ҳамкорликда ривожланинг`,`Қишлоқ хўжалиги маҳсулотларини рақобатбардош нархларда сотишда сизга ёрдам берадиган янги бозор`,'Сотувни бошлаш')
		+slidehead('',`Қишлоқ хожалигига асосланган&nbsp;биринчи Market&nbsp;Place`,`Ўзбекистондаги барча фермерлар ва тадбиркорларни бирлаштирган биринчи Market Place`,'Харидни бошлаш')
			picture.picture-bg
				source(type='image/webp' srcset=`img/@2x/webp/head-slider-bg-2-2.webp` media=`(min-width:992px)`)
				source(type=`image/webp` srcset=`img/@2x/webp/head-slider-bg-mob-2-2.webp`)
				source(type=`image/png` srcset=`img/@2x/head-slider-bg-2-2.png` media=`(min-width:992px)`) 
				img.object-fit-js(src=`img/@2x/head-slider-bg-mob-2-2.png` alt='' loading='lazy')

mixin sHeaderBannerService(data)
	+sHeaderBannerBodyService
		+slideheadService(1,`Агробизнес учун сервислар`,`Бизнинг онлайн хизматлар сизга вақт ва ресурсларни тежаш учун ишлайди.`)
		+slideheadService(2,`Агробизнес учун сервислар`,`Бизнинг онлайн хизматлар сизга вақт ва ресурсларни тежаш учун ишлайди.`)
		+slideheadService(3,`Агробизнес учун сервислар`,`Бизнинг онлайн хизматлар сизга вақт ва ресурсларни тежаш учун ишлайди.`)


mixin sHeaderBannerMediaLibrary(data)
	+sHeaderBannerBodyLibrary
		+slideheadMediaLibrary(1,`Агро соҳасидаги фойдали маълумотлар`,`Бизнинг онлайн хизматлар сизга вақт ва ресурсларни тежаш учун ишлайди.`)
		+slideheadMediaLibrary(2,`Агро соҳасидаги фойдали маълумотлар`,`Бизнинг онлайн хизматлар сизга вақт ва ресурсларни тежаш учун ишлайди.`)
		+slideheadMediaLibrary(3,`Агро соҳасидаги фойдали маълумотлар`,`Бизнинг онлайн хизматлар сизга вақт ва ресурсларни тежаш учун ишлайди.`)


mixin sHeaderBannerBlue()
	// start sHeaderBanner
	+b.sHeaderBanner--theme.section.bg-wrap.text-white&attributes(attributes)
		+pic("head-blue.jpg",'bg',0).picture-bg
		.container 
			.row
				.col-lg-7
					h1 Керакли махсулотларни Фермерлардан харид қилинг
					.h5.fw-400 Харидни бизнинг сервис орқали амалга оширинг
					+e.btn--theme.heartbeat(href="#") Харидни бошлаш
			+headcards()
	// end sHeaderBanner
mixin sHeaderBannerBlue2(data)
	+sHeaderBannerBody2.--theme
		+slidehead2(4,`Керакли махсулотларни Фермерлардан харид қилинг`,`Харидни бизнинг сервис орқали амалга оширинг`,'Харидни бошлаш')
		+slidehead2(5,`Янги харидлар амалга оширинг`,`Харидни бизнинг сервис орқали амалга оширинг`,'Харидни бошлаш')
		+slidehead2(4,`Керакли махсулотларни Фермерлардан харид қилинг`,`Харидни бизнинг сервис орқали амалга оширинг`,'Харидни бошлаш')
		+slidehead2(5,`Янги харидлар амалга оширинг`,`Харидни бизнинг сервис орқали амалга оширинг`,'Харидни бошлаш')
		//- +slidehead2(4, `Маҳсулотингизни жойланг ва ўз мижозларингизга ега бўлинг`,`Махсулотингизни платформага жойлаш орқали сиз янги харидорларга ега бўласиз ва ўз бизнесингизни ривожлантирасиз`) 
