include ../sNotifications/_sNotifications.pug
mixin serivedroop()

	.drop-down-wrap
		+e.btn.btn.btn-outline-primary(type="button")
			+icon("menu")
			| Сервислар
		+b.dropdown-block--servises
			mixin item(i,t,p,grey)
				+e.item(href="#")
					+e.img-wrap
						+pic(`drop-${i}.png`,'bg',0)
					div
						.h6.mb-1= t
						.text-secondary= p
			+item(`1`,`Фермерлар Мактаби`,`Ёш Фермерларни тайёрлаш мактаби`)
			+item(`2`,`Агролаб`,`Лобаратория билан ишлаш маҳорати`)
			+item(`4`,`Медиабиблиотека`,`Керакли видео маҳсулотлар учун майдон`)
			+item(`4`,`Онлайн консултант`,`Керакли видео маҳсулотлар учун майдон`)
			+e.item--grey(href="#")
				+e.img-wrap
					+pic(`drop-3.png`,'bg',0)
				div
					.h6 Агротехкарталар
					p
						+icon(`clock-2`)
						span Тез орада

mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala']
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav(logout)
	// start top-nav  в этом блоке   отличия
	+b.top-nav.block-with-lazy(class= (comp ? 'd-md-none' : null))
		.container
			+e.main-row.row
				.col-auto.d-lg-none.order-first.fixed-hide
					+b.toggle-menu-mobile--js
						span
				.col-lg-auto.col.order-first.fixed-hide

					+b.logo(href="/")
						.row
							.col-auto
								img(src="img/svg/logo-sm.svg", alt="")
							.col
								+e.DIV.text
								img(src="img/svg/logo-text.svg", alt="")
				.col-auto.d-md-none.order-first.fixed-hide
					.has-children
						| Русский
						ul
							li Русский
							li Русский
							li Русский
				.w-100.d-md-none.p-0.m-0.order-first
				+e.col-catalog.col-lg-auto.order-lg-0.order-last
					+b.catalog-block
							//- if comp
							//- 	+b.swich-block
							//- 		+e.btn(href="#") Харидорлар
							//- 		+e.btn(href="#").active Сотувчилар
							//- 	+e.toggle--mob
							//- 		span
							//- 		+e.toggle-text МЧЖ "Green technology"
							//- if !comp

							//- 		+b.swich-block
							//- 			+e.btn(href="#").active Харидорлар
							//- 			+e.btn(href="#") Сотувчилар
							+e.toggle--mob.d-lg-none
								span
								+e.toggle-text Каталоглар

							+e.toggle--desctop.d-none.d-lg-block
								span
								+e.toggle-text Каталоглар
							+e.dropdown
								+e.dropdown-inner
									ul.left-menu
										mixin liLeft(a)
											li.menu-item-has-children
												a(href="#")
													span.icon-menu-cat
														img(src="/img/svg/warning.svg" alt="")
														+icon("sosiska")
													span= a
													+icon("chevron-right")
												.sub-menu-wrap
													ul.sub-menu
														mixin li(a)
															li
																a(href="#")
																	span= a

														mixin col(t, sub)
															li(class=( sub ? "menu-item-has-children" : ""))
																a(href="#")
																	span= t
																	if sub
																		+icon("chevron-right")
																if sub
																	.sub-menu-wrap
																		ul.sub-menu
																			+li('Тарвуз')
																			+li('Қовун')
																			+li('Қовоқ')
																			+li('Хандалак')
																			+li('Ошқовоқ')
																			block

														block
														+col('Полиз екини уруғлари', 'sub')
															+li('Тарвуз')
															+li('Қовун')
															+li('Қовоқ')
															+li('Хандалак')
															+li('Ошқовоқ')
														+col('Майса уруғлари', 'sub')
															+li("Газон")
															+li("Жўхори")
															+li("Доривор ўсимликлар")
															+li("Эм-хашак ўтлари")
														+col('Дуккакли уруғлар', 'sub')
															+li("Ловия")
															+li("Нўхат")
															+li("Люпин")
															+li("Ясмиқ ")
															+li("Фасол")
														+col('Сабзавот уруғлари')
															+li("Бодринг")
															+li("Помидор")
															+li("Карам")
															+li("Сабзи")
														+col('Дон уруғлари', 'sub')
															+li("Қишки буғдой")
															+li("Арпа")
															+li("Жавдар")
															+li("Юлаф")
														+col('Дон уруғлари', 'sub')
															+li("Қишки буғдой")
															+li("Арпа")
															+li("Жавдар")
															+li("Юлаф")
														- for (var x = 0; x < 10; x++)
															+col('Дон уруғлари', 'sub')
																+li("Қишки буғдой")
																+li("Арпа")
																+li("Жавдар")
																+li("Юлаф")






										+liLeft('Уруғлар')
											+col('Полиз екини уруғлари')
											+col('Майса уруғлари')
												- for (var x = 0; x < 10; x++)
													+li("Газон")
													+li("Жўхори")
													+li("Доривор ўсимликлар")
													+li("Эм-хашак ўтлари")
										+liLeft('Ўғитлар')
											+col('Полиз екини уруғлари')
												+li('Тарвуз')
												+li('Қовун')
												+li('Қовоқ')
												+li('Хандалак')
												+li('Ошқовоқ')
												+li('Ошқовоқ')
												+li('Ошқовоқ')
												+li('Ошқовоқ')
										- for (var x = 0; x < 3; x++)
											+liLeft('Ўсимликларни ҳимоялаш воситалари')
											+liLeft('Озуқалар')
											+liLeft('Боғ эрлари')
											+liLeft('Дон махсулотлари')
											+liLeft('Агрокимё')
											+liLeft('Екиш материаллари')
											+liLeft('Тайёр маҳсулотлар')
				//- if !comp
				+e.col.col-lg.order-lg-0.order-last
					+search-block
				//if logout
				//	.col-auto.ms-auto
				//		+b.top-btn(href="#")
				//			+e.SPAN.icon-wrap
				//				+icon("user")
				//				+e.SPAN.count 99
				.col-auto
					+b.top-btn.with-dropdown(href="#")
						+e.SPAN.icon-wrap
							+icon("bell")
							+e.SPAN.count 99
					+sNotificationsScroll()
				.col-auto
					+b.top-btn(href="#")
						+e.SPAN.icon-wrap
							+icon("like")
							+e.SPAN.count 99
				.col-auto
					+b.top-btn(href="#")
						+e.SPAN.icon-wrap
							+icon("basket-new")
							+e.SPAN.count 99
				.col-md-auto.col.order-md-0.order-first
					+serivedroop()
				if logout
					.col-md-auto.col
						.drop-down-wrap.text-end
							+e.btn.btn.btn-primary(type="button")
								+icon('user')
								|Войти

				if !logout
					.col-md-auto.col
						.drop-down-wrap.text-end
							+e.btn.btn.btn-circle.cabinet(type="button")
								picture
									source(type='image/webp' srcset=`img/@1x/webp/user-avatar.webp`)
									img.avatar(src="img/@1x/user-avatar.png", alt="")
								+icon("icon-user-cabinet")
							+b.dropdown-block--cabinet
								mixin item(t)
									+e.item(href="#").h6= t
								+item(`Профил`)
								+item(`Махсулотлар`)
								+item(`Буюртмаларим`)
								+item(`Харидор буюртмалари`)
								+item(`Чиқиш`)
	// end top-nav
mixin top-nav-cabinet(comp)
	// start top-nav  в этом блоке   отличия
	+b.top-nav--cabinet
		.container
			+e.main-row.row
				.col-auto.d-lg-none.order-first
					+b.toggle-menu-mobile--js
						span
					+b.catalog-block--cabinet
						+e.toggle--mob.--cabinet.d-lg-none
								span
								//- +e.toggle-text Каталоглар
						+e.dropdown
							+e.dropdown-inner
								ul.left-menu
									mixin liLeft(a)
										li.menu-item-has-children
											a(href="#")= a
												+icon("chevron-right")
									+liLeft('Профил')
									+liLeft('Махсулотлар')
									+liLeft('Витрина')
									+liLeft('Хабарлар')
								.container-fluid.pt-3
									+b.link-logout(href="#")
										+icon("logout")
										span Чиқиш
				+b.contacts-top-block.col-lg-4.col-auto.d-none.d-md-block
					ul
						li: +e.link(href="tel:(78)150-00-88")
							+icon("phone-icon")
							span (78) 150-00-88
						li: +e.link(href="#")
							+icon("chat")
							span On-line чат
				.col.text-lg-center

					+b.logo(href="/")
						.row
							.col-auto
								img(src="img/svg/logo-sm.svg", alt="")
							.col
								+e.DIV.text
								img(src="img/svg/logo-text.svg", alt="")

				//- +e.col-catalog.col-auto.d-md-none

				.col-4.d-flex.justify-content-end
					.has-children.me-4
						| Русский
						ul
							li Русский
							li Русский
							li Русский
					+b.link-logout(href="#")
						+icon("logout")
						span Чиқиш
	// end top-nav