mixin sProductsOnSite(data)
	// start sProductsOnSite
	+b.SECTION.sProductsOnSite.section#sProductsOnSite&attributes(attributes)
		.container
			.row
				.col-lg-4.d-lg-flex.align-items-center(class="wow animate__fadeInLeft" )
					+b.section-title
						h1 Сайтдаги маҳсулотлар
						p Маҳсулотларингизни бизнинг сайтимизда бепул жойлаштиринг. Тўғридан-тўғри фермер хўжаликларига сотинг
						+e.BUTTON.btn.btn.btn-primary.heartbeat Сотувни бошлаш
				.col-lg-8(class="wow animate__fadeInRight" )
					.tabs
						.tabs__caption
							//- .tabs__caption.d-none.d-md-flex
							.tabs__btn.active
								span Уруғлар
							.tabs__btn
								span Ўғитлар
							.tabs__btn.d-none.d-md-block
								span Ўсимликларни ҳимоя қилиш маҳсулотлари
							.tabs__btn.d-none.d-md-block
								span Техника
							+e.link.d-block.d-md-none(href="#") Барча категориялар
						.tabs__wrap
							.tabs__content.active
								+e.slider--js
									.row.swiper-wrapper
										mixin item(i, t, p)
											+e.col.col-lg-4.swiper-slide
												+e.item(href='#')
													+e.DIV.img-wrap
														if i
															img(src=`img/@2x/products-site-${i}.jpg` alt="")
													+e.caption
														+e.price!= t
														p!= p
										+item(1, `12 099 сум/ дона`, `"Морковь гигант"`)
										+item(``, `12 099 сум/ шт1`, `Маккажўхори геолиа уруғлар " Ранняя лакомка»`)
										+item(2, `12 099 сум/ дона`, `Оқ мевали қовоқ геолиа "Лангар" уруғлари»`)
							.tabs__content
								+e.slider--js
									.row.swiper-wrapper
										mixin item(i, t, p)
											+e.col.col-lg-4.swiper-slide
												+e.item(href='#')
													+e.DIV.img-wrap
														if i
															img(src=`img/@2x/populars-${i}.jpg` alt="")
													+e.caption
														+e.price!= t
														p!= p
										+item(1, `12 099 сум/ дона`, `"Корневин" илдизларининг шаклланиши ва ўсишини стимулятори 0,005 kg`)
										+item(2, `12 099 сум/ дона`, `Оқ мевали қовоқ геолиа "Лангар" уруғлари»`)
										+item(3, `12 099 сум/ шт1`, `Маккажўхори геолиа уруғлар " Ранняя лакомка»`)
							.tabs__content
								+e.slider--js
									.row.swiper-wrapper
										mixin item(i, t, p)
											+e.col.col-lg-4.swiper-slide
												+e.item(href='#')
													+e.DIV.img-wrap
														if i
															img(src=`img/@2x/populars-${i}.jpg` alt="")
													+e.caption
														+e.price!= t
														p!= p
										+item(``, `12 099 сум/ шт1`, `Маккажўхори геолиа уруғлар " Ранняя лакомка»`)
										+item(1, `12 099 сум/ дона`, `"Корневин" илдизларининг шаклланиши ва ўсишини стимулятори 0,005 kg`)
										+item(2, `12 099 сум/ дона`, `Оқ мевали қовоқ геолиа "Лангар" уруғлари»`)
							.tabs__content
								+e.slider--js
									.row.swiper-wrapper
										mixin item(i, t, p)
											+e.col.col-lg-4.swiper-slide
												+e.item(href='#')
													+e.DIV.img-wrap
														if i
															img(src=`img/@2x/populars-${i}.jpg` alt="")
													+e.caption
														+e.price!= t
														p!= p
										+item(``, `12 099 сум/ шт1`, `Маккажўхори геолиа уруғлар " Ранняя лакомка»`)
										+item(2, `12 099 сум/ дона`, `Оқ мевали қовоқ геолиа "Лангар" уруғлари»`)
										+item(1, `12 099 сум/ дона`, `"Корневин" илдизларининг шаклланиши ва ўсишини стимулятори 0,005 kg`)
					+e.footer.d-none.d-md-block
						+e.link(href="#") Барча категориялар
	// end sProductsOnSite